/Aspect.class
/Entity.class
/FromStandard.class
/Main.class
/Predicate.class
/Representation.class
/ToStandard.class
/PredicateEntityRelation.class
/InformationSource.class
/SensorData.class
/Aspect$Representation.class
/Entity$PredicateEntityRelation.class
/Aspect$StandardRepresentation.class
